
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #e2e2e2;
        }
        h1{
            text-align: center;
            font-weight: 400;
            color: #212121;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        a{
            text-align: center !important;
            padding: 5px 10px;
            background-color: #cfe3f5;
            text-decoration: none !important;
            border-radius: 10px;
            color: #292D30;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 1px solid #1F89E5;
        }
        .Login{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .imgs{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        img{
            margin-top: 50px;
            margin-bottom: 50px;
            background-color: #cfe3f5;
            border-radius: 10px;

        }
    </style>
</head>
<body>


    <div class="imgs">
        <img src="https://res.cloudinary.com/mumbe/image/upload/c_thumb,w_200,g_face/v1639482203/kisspng-shopping-cart-computer-icons-online-shopping-buy-5abedd9c448d14.1345528515224580122808_fnfo0p.png" alt="">
    </div>
    <div class="Login">
        <a href="https://semu-stores.herokuapp.com/#/iniciar">Puedes iniciar session</a>
    </div>
    <h1>Mercado semu</h1>
    <h1>tu cuenta esta activado</h1>
    <h1>Desarrollado por mumbex <a href="https://mumbx.com">click</a></h1>
</body>
</html>