<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .{
            font-size: 18px;
        }
    </style>
</head>


<body>
    <div id="bbbb">fsdfdsfsfssf</div>

    <button id="aaaaa">ddddddddddd</button>
</body>
<script>
    const correo = "ggggggggjkdsdfmsfsklfnsfskfsfk"
    const usuario = "pedro"
    const linkImg = 'https://res.cloudinary.com/mumbe/image/upload/c_thumb,w_200,g_face/v1639482203/kisspng-shopping-cart-computer-icons-online-shopping-buy-5abedd9c448d14.1345528515224580122808_fnfo0p.png'
    const linkConfir = "fnsfsmfnsfsfklnfsflksfsf"
    const html = "<head><meta charset='UTF-8'><meta http-equiv='X-UA-Compatible' content='IE=edge'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Document</title></head>"
    const html1 = "<div>" + `<p style='text-align: center;'>Hola ${usuario} , bienvenido al mercado digital de semu para poder activar tu cuenta haz click en el siguiente boton</p>`
    const html2 = `<div  style='display: flex;width: 100%;height: 100px;justify-content: center;align-items: center;'><a href = '${"http://localhost:3000/#/confirm/" + linkConfir}'style='font-size: 20px;' >Has click para verificar tu cuenta !</a></div>`
    const html3 = `<div style='width: 100%;display: flex;justify-content: center;'><img src=${linkImg} alt=''></div>`
    const html4 = "<h3 style='font-size: 17px;font-weight: 400;text-align: center;color: #212121 ;'></h3>" +"<a style='text-align: center;' href='https://mumbx.com'>desarrollado por mumbeX software developer</a>" +"</div>"
    const element = document.getElementById("aaaaa");
    element.addEventListener("click", myFunction);

    function myFunction() {
        document.getElementById("bbbb").innerHTML += html1+html2+html3+html4;
    }
</script>

</html>