<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- les styles -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="cssjs/css/materialize-icons.css">
    <link rel="stylesheet" href="cssjs/icon/style.css">
    <link rel="stylesheet" href="cssjs/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Play&family=Saira+Condensed&display=swap" rel="stylesheet">


    <!-- fin styles -->

    <!-- javascript -->
    <script src="cssjs/js/jquery-3.5.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="cssjs/js/axios.min.js"></script>

    <!-- fin javascript -->
    <title>Document</title>
    <style>

    </style>
</head>

<body>


    <div class="row containerFormulario ">
        <form class="formulario z-depth-1" id="forms">
            <div class="row">
                <div class="input-field col s12">
                    <input name="email" id="first_name" placeholder="ingrese tu email" type="email" required
                        class="validate inputForm">
                </div>
                <div class="input-field col s12">
                    <input name="password" id="last_name" placeholder="ingrese tu contraseña" type="password" required
                        class="validate inputForm">
                </div>
            </div>
            <div class="btnForm">
                <button type="button" onClick="location.replace='http://localhost:3000/confirm/123545'" class="waves-effect  grey darken-4 waves-light btn-small">Inicar ddddd</button>
            </div>

        </form>
    </div>
    <div class="containerSpinner">
        <div class="lds-roller" id="lds-roller">
            <button type="button" onClick="" class="waves-effect  grey darken-4 waves-light btn-small">Inicar</button>

        </div>
    </div>


    <!-- script carrousel -->
    <script>

        /*
        $("#forms").submit(async function (e) {

        });*/
        const elemento = document.querySelector("#forms")
        elemento.addEventListener("submit", async (e) => {
            e.preventDefault()
            const email = e.target.email.value
            const password = e.target.password.value
            if (email && password) {
                document.getElementById('lds-roller').innerHTML += '<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>';
                const data = await axios.post("/sign_in_backend", {
                    "email": email,
                    "contrasena": password
                })

                if (data.data === "el usuario no existe") {
                    document.getElementById('lds-roller').innerHTML = '';

                    M.toast({ html: data.data })

                } else {
                    document.getElementById('lds-roller').innerHTML = '';
                    location.href = `http://localhost:5000/${data.data}`

                }
            } else {
                document.getElementById('lds-roller').innerHTML = '';
                M.toast({ html: "rellena el formulario" })
            }

        })
    </script>
</body>
<script>

</script>

</html>